.container {
  background-color: #2d2a37;
  width: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0.4rem 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
}

.title {
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

.title::after {
  content: attr(data-notify);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3rem;
  background-color: #f23f43;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -2rem;
}
