<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body class="container">
  <%- include('../partials/header'); %>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi sou Wesley Silva estudande de programação na Rocketseat</p>
    </div>
  </main>
  <%- include('../partials/footer', {pagina: 'About'}); %>
</body>
</html>