body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100vh;
  font-family: monospace;
  list-style: none;
  background: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  color: inherit;
  font: inherit;
  padding: 5px 10px;
  border: inherit;
  font-size: 25;
  border-radius: 4px;
  font-size: 30px;
}
.unliked {
  background-color: tomato;
}
.like {
  background-color: skyblue;
}
