* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-size: 1.6rem;
  display: grid;
  place-content: center;
  background-color: #292738;
}